APP_NAME="Absensi Mahasiswa API"
APP_ENV=local
APP_PORT=8080
APP_TIMEZONE=Asia/Jakarta

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=absensi_go

JWT_SECRET=ganti-dengan-secret-acak-minimal-32-karakter
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=720h

BCRYPT_COST=12
SEED_ON_START=false
CORS_ORIGINS=*
